<%# locals: (artist:, tracks: nil) %>
<%= turbo_frame_tag dom_id(artist, :popular_tracks), class: "popular-tracks", "transition-name" => "popular-tracks" do %>
  <% if tracks %>
    <div transition-id="<%= artist.id %>">
      <%= render tracks, enqueueble: true, offset: 5 %>
    </div>
  <% else %>
    <li class="track">
      <span class="track--number"></span>
      <%= link_to "Load more", artist_path(artist), class: "text-secondary hover:text-primary transition-colors" %>
    </li>
  <% end %>
<% end %>
